image: alpine:latest

pages:
  stage: deploy
  script:
    - mkdir public
    - cp -r JavaDoc/apidocs/* public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH