image: alpine:latest

pages:
  stage: deploy
  script:
    - mkdir public
    # CORRECTED LINE: Remove 'team_04/' from the path
    - cp -r JavaDoc/apidocs/* public/
  artifacts:
    paths:
      - public
  only:
    - main
    - master